/*Typography*/

body {background: #708090;}
img { width: 320px }

/*Bio and Resume*/

.bio h1{ 
	color: green;
}
.container {
	margin: 0 auto;
	width: 50%;
}

h1, h2 {
	font-family: 'Noto Serif', serif;
	text-transform: uppercase;
}

p, li {
	font-family: 'Noto Serif', serif;
}

.dropcap {
	background: teal;
	color: #fff;
	font-size: 4em;
	padding: .8em;
	margin: .5em;
	float: left;
}

/*Portfolio*/

.home h1 {color: #fff;}
